# New Relic Configuration
# Get these values from: https://one.newrelic.com
VITE_NR_ACCOUNT_ID=your_account_id
VITE_NR_TRUST_KEY=your_trust_key
VITE_NR_AGENT_ID=your_agent_id
VITE_NR_LICENSE_KEY=your_license_key
VITE_NR_APPLICATION_ID=your_application_id
VITE_NR_BEACON=bam.nr-data.net
