<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/BasicUI" version="1.0.0" viewmodes="maximized">
    <tizen:application id="JzeJ2WpRqN.VideoTelemetryTracker" package="JzeJ2WpRqN" required_version="9.0"/>
    <content src="index.html"/>
    <author>Peter Addo</author>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Video Telemetry Tracker</name>
    <tizen:profile name="tizen"/>
    <!-- Internet <tizen:privilege/> -->
    <access origin="*" subdomains="true"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
</widget>
